/* Custom properties */
:root {
  /* fonts */
  --ff-sans: 'Bai Jamjuree', sans-serif;
  /* font sizes */
  --fs-750: 2.875rem;
  --fs-700: 2.25rem;
  --fs-650: 2rem;
  --fs-600: 1.75rem;
  --fs-550: 1.5rem;
  --fs-500: 1.25rem;
  --fs-450: 1.125rem;
  --fs-400: 1rem;
  /* font weights */
  --fw-600: 600;
  --fw-400: 400;
  /* colors */
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-dark-gray-blue: hsla(210, 10%, 33%, 1);
  --clr-gray-blue: hsla(201, 11%, 66%, 1);
  --clr-gray-blue-bg: hsla(201, 11%, 66%, .1);
  --clr-primary-cyan: hsla(171, 66%, 44%, 1);
  --clr-primary-blue: hsla(233, 100%, 69%, 1);
  /* added colors to address accessibility (contrast ratios) */
  --clr-dark-body: hsl(212, 25%, 30%);

}

/*  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Utility classes */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* for screen-readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.6;
  text-align: center;
  background-color: var(--clr-white);
  /* color: var(--clr-gray-blue); */
  /* updated main body text color for accessibility (contrast) */
  color: var(--clr-dark-body);
}

.page-header {
  text-align: center;
}

h1, h2, h3, h4 {
  color: var(--clr-dark-gray-blue);
  font-weight: var(--fw-600);
  line-height: 1.25;
}

h1, h2 {
  letter-spacing: -0.5px;
}

p {
  letter-spacing: 0.12px;
}

/* Typopography */

.page-header h1 {
  font-size: var(--fs-650);
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-550);
  letter-spacing: -0.4px;
}

.nav-link {
  font-size: var(--fs-450);
  letter-spacing: 0.14px;
} 

/* Components */
.container {
  max-width: 1110px;
  margin-inline: auto;
  padding: 0 2rem;
}

.button-container {
  max-width: 470px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-450);
  font-weight: 600;
  line-height: 1.65;
  letter-spacing: 0.5px;
  color: var(--clr-white);
  border: none;
  border-radius: 28px;
  padding: .75em 0;
  width: 100%;
  transition: 220ms all ease-in-out;
}

.btn-ios {
  background-color: var(--clr-primary-cyan);
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.btn-mac {
  background-color: var(--clr-primary-blue);
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.btn-ios:hover, 
.btn-ios:active,
.btn-mac:hover,
.btn-mac:active {
  opacity: 0.8
}

/* header styles */
.page-header {
  padding: 123px 32px 160px;
  background-image: url('../images/bg-header-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-logo {
  /* may not need width */
  width: 125px;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.page-header p {
  margin-bottom: 3rem;
}

/* General Styles */
.product-features__overview {
  padding-bottom: 8.625rem;
}

.product-features__detail > h2 {
  margin-bottom: 0.75rem;
}

.features-overview h2,
.mobile-features-overview h2,
.cta-secondary h2 {
  margin-bottom: 1rem;
}

.features-overview p,
.mobile-features-overview p {
  margin-bottom: 4rem;
}

.desktop-demo-img {
  margin-bottom: 3.5rem;
  width: 100%;
  object-fit: cover;
}

.features {
  place-items: center;
}

.features-sidebar {
  max-width: 350px;
}

.mobile-devices-img {
  margin-inline: auto;
}

/* Sidebar - Product Features */
.features-sidebar > h3 {
  margin-bottom: 10px;
}

.features-sidebar > p {
  margin-bottom: 3rem;
}

.features-sidebar P:last-child {
  margin-bottom: 0;
}

.mobile-features-overview,
.product-features__detail {
  margin-bottom: 8.125rem;
}

.product-features__detail > p {
  margin-bottom: 5.625rem;
}

/* Features Icon Cards and Client Brand List Styles */

.feature-cards-list,
.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-cards-list,
.brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}

.brand-list {
	max-width: 90%;
	margin-inline: auto;
}

.feature-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-card > img {
  margin-bottom: 2.5rem;
}

.feature-card > h3 {
  margin-bottom: 1.125rem;
}

.client-brands {
  margin-bottom: 10.625rem;
}

.client-brand-logo {
  max-width: 140px;
}

/* Bottom (secondary) CTA section styles */
.cta-secondary {
  padding-bottom: 10.625rem;
}

.cta-secondary > p {
  margin-bottom: 3rem;
}

/* Footer Styles */
.page-footer {
  background: var(--clr-gray-blue-bg);
  padding-inline: 1.5em;
}

.footer-container {
  max-width: 1110px;
  margin-inline: auto;
  padding: 3.25rem 0;
  place-items: center;
  gap: 2.875em;
  grid-template-areas: 
    "logo-footer"
    "footer-nav"
    "social";
}

.logo-footer {
  width: 55px;
  grid-area: logo-footer;
}

.footer-nav {
  grid-area: footer-nav;
}

.nav-list,
.social-list {
  padding: 0;
  list-style: none;
}

.nav-list {
  flex-direction: column;
  gap: 1.25rem;
}

.nav-divider {
  flex-direction: column;
  gap: 1.25rem;
}

.nav-list-item {
  white-space: nowrap;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-dark-gray-blue);
}

.nav-link:hover,
.nav-link:active {
  color: var(--clr-primary-cyan);
}

.social-list {
  width: 160px;
  justify-content: space-between;
  grid-area: social;
}

svg {
  fill: var(--clr-dark-gray-blue);
}

svg:is(:hover, :focus){
  fill: var(--clr-primary-cyan);
}


/* ======================================================== */
/* =========== Consolidated Media Queries ================= */
/* ======================================================== */

@media (min-width: 45em) {
  /* Page header and text */
  .page-header {
    background-image: url('../images/bg-header-desktop.png');
  }

  .page-header h1 {
    font-size: var(--fs-750);
    letter-spacing: -0.75px;
  }

  .cta-primary > p {
    margin-inline: auto;
    font-size: var(--fs-500);
    max-width: 55ch;
  }

  h2 {
    font-size: var(--fs-700);
    letter-spacing: -0.6px;
  }

  .primary-body-text {
    font-size: var(--fs-450);
    letter-spacing: 0.14px;
  }
  /* components */
  .container {
    padding: 0;
  }

  .button-container {
    flex-direction: row;
  }
  /* Features sections */
  .features {
    padding-inline: 2.5rem;
  }

  .features-sidebar {
    margin-inline: auto;
  }

  .product-features__detail > p {
    margin-bottom: 4.5rem;
  }

  .features-overview > p {
    max-width: 60ch;
    margin-inline: auto;
    margin-bottom: 5rem;
  }

  .feature-cards-list {
    gap: 1.875rem;
  }

  .product-features__detail,
  .client-brands {
    margin-bottom: 9.375rem;
  }
  
  .mobile-features-overview > p {
    margin-inline: auto;
    margin-bottom: 6.875rem;
    max-width: 58ch;
  }

  .client-brand-logo {
    max-width: 100%;
  }

  .feature-cards-list {
    gap: 1.875rem;
  }

  .product-features__detail,
  .client-brands {
    margin-bottom: 9.375rem;
  }
  
  .mobile-features-overview > p {
    margin-inline: auto;
    margin-bottom: 6.875rem;
    max-width: 58ch;
  }

  .client-brand-logo {
    max-width: 100%;
  }

  /* Bottom CTA section */
  .cta-secondary {
    padding-bottom: 9.375rem;
  }
  .cta-secondary > p {
    max-width: 60ch;
    margin-inline: auto;
  }

  /* Footer */
  .footer-container {
    grid-template-columns: repeat(4, minmax(4rem, 1fr));
    grid-template-areas: 
    "logo-footer footer-nav footer-nav footer-nav"
    ". social social .";
    row-gap: 5rem;
  }

  .footer-nav {
    min-width: 500px;
  }

  .nav-list {
    flex-direction: row;
    justify-content: space-evenly;
  } 

  .nav-list-item {
    text-align: left;
  }

}

@media (min-width: 58em) {
  /* Features section */
  .features {
    padding-inline: 0;
    place-items: center;
    grid-template-columns: 68% 32%;
    column-gap: 6.875rem;
    position: relative;
    left: -20%;
  }

  .desktop-demo-img {
    margin-bottom: 0;
  }

  .features-sidebar {
    margin-inline: 0;
    text-align: left;
  }

  .features-sidebar > p {
    margin-bottom: 3.5rem;

  }

  /* Footer */
  .footer-container {
    grid-template-columns: repeat(6, minmax(4rem, 1fr));
    grid-template-areas: 
    "logo-footer footer-nav footer-nav footer-nav . social";
    justify-items: start;
  }

  .footer-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-list {
    justify-content: flex-start;
  }

  .nav-list-item {
    min-width: 160px;
  }
  
  .social-list {
    max-width: 120px;
  }

}
